<div class="component">
  <div class="lyricsSection">
    <div class="form-group">
      <div *ngIf="hasData">
        <p class="title clipped">{{song.SongTitle}}</p>
        <p class="firstline clipped">{{song.FirstLine}}</p>
        <p class="lyrics">{{song.Lyrics}}</p>
      </div>
      <div *ngIf="!hasData">No Data</div>
    </div>
  </div>
  <div class="tableSection">
    <div class="filter sticky-top container-fluid">
      <div class="btn-group">
        <input id="searchinput" type="search" class="form-control" placeholder="Search" [(ngModel)]="searchString"
          (change)="ngOnInit()">
        <div id="searchclear" class="glyphicon glyphicon-remove-circle"></div>
      </div>
      <div class="btn-group d-inline-block" (change)="ngOnInit()">
        <select id="PaceGrp" [(ngModel)]="selectedGroup" class="d-inline-block form-control form-select drop-filter">
          <option value="0" selected>Standard</option>
          <option value="1">Fast</option>
          <option value="2">Medium</option>
          <option value="3">Slow</option>
          <option value="4">School</option>
          <option value="5">Christmas</option>
          <option value="6">All</option>
        </select>
      </div>
      <div class="btn-group d-inline-block" (change)="ngOnInit()">
        <select id="PaceGrp" [(ngModel)]="selectedAge" class="d-inline-block form-control form-select drop-filter">
          <option value="1" selected>Recent</option>
          <option value="2">2 years</option>
          <option value="3">3 years</option>
          <option value="10">All</option>
        </select>
      </div>
      <div class="btn-group d-inline-block" (change)="ngOnInit()">
        <select id="Rating" [(ngModel)]="selectedRating" class="d-inline-block form-control form-select drop-filter">
          <option value="4">Rating 5</option>
          <option value="3">Rating 4+</option>
          <option value="2" selected>Rating 3+</option>
          <option value="1">Rating 2+</option>
          <option value="0">All Songs</option>
        </select>
      </div>

      <div class="table_content">
        <div class="picker">
        <div class="hdr_Ref sortable" (click)='changeSort("SongRef")'>Ref</div>
        <div class="hdr_Title sortable" (click)='changeSort("SongTitle")'>Title</div>
        <div class="hdr_FirstLine sortable" (click)='changeSort("FirstLine")'>First Line</div>
        <div class="hdr_Key sortable" (click)='changeSort("MusicalKey")'>Key</div>
        <div class="hdr_Add">  +</div>
      </div>
      </div>
    </div>
    <div>
      <div *ngIf="isLoading" class="waiting">
        <div class="spinner-border" role="status">
          <div class="sr-only"></div>
        </div>
      </div>
      <div *ngIf="!isLoading">
        <div class="table_content">
          <div class="picker _{{song.PaceGrp}}" *ngFor="let song of songs; let index = index" id="song-{{index}}"
            (mouseup)="showLyrics(song, index)"
            (dblclick)="addtoSet(song)"
            [class.active]="index == ActiveIndex">
            <div class="col_Ref">{{song.SongRef}}</div>
            <div class="col_Title clipped">{{song.SongTitle}}</div>
            <div class="col_FirstLine clipped">{{song.FirstLine}}</div>
            <div class="col_Key">{{song.MusicalKey}}</div>
            <div class="col_Add"><img src="../../assets/Images/ToList.png" alt="+" width="12" height="12" (click)="addtoSet(song)"></div>
            <div #song style="display:none">{{song}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
  <div class="setSection" (click)="closeRightClickMenu()">

    <div *ngIf="!namingSet" class="setHeader sticky-top d-inline-block">
      <div class="btn-group setHeader">
            <div class="setdatetitle">Set Date</div>
             <input class="form-control" placeholder="..set date.." value="{{stringDate}}" (change)="onDateSelected()"
                   name="dp" [(ngModel)]="setDate" ngbDatepicker #dp="ngbDatepicker" (dateSelect)="onDateSelected()">
            <button class="btnIcon calendar" (click)="dp.toggle()" type="button"><img width="28px" title="Pick Date" src="..\..\assets\Images\cal.png"/></button>
            <button class="btnIcon" type="button"><img width="28px" title="Load Template" (click)="loadTemplate()" src="..\..\assets\Images\add_template.png"/></button>
            <button class="btnIcon" type="button"><img width="28px" title="Clear Set" (click)="clearSet()" src="..\..\assets\Images\erase_document.png"/></button>
            <button class="btnIcon" type="button"><img width="28px" title="Load Set" (click)="clicktoLoad()" src="..\..\assets\Images\load_document.png"/></button>
            <button class="btnIcon" type="button"><img width="28px" title="Save Set" (click)="clicktoSave()"src="..\..\assets\Images\save_document.png"/></button>
            <button class="btnIcon" type="button"><img width="28px" title="Export to Word" src="..\..\assets\Images\Export_document.png"/></button>
      </div>
    </div>

      <div *ngIf="chooseSet" class="getSetContainer">
        <mat-radio-group class="leadFilter" [(ngModel)]="selectedLead" (change)="LeaderChanged($event)">
          <div class="radiobtn"><input id="rb1" type="radio" name="leader" value="Mike" checked='true'/><label class="radiobtn" for="rb1">Mike</label></div>
          <div class="radiobtn"><input id="rb2" type="radio" name="leader" value="Ian"/><label class="radiobtn" for="rb2">Ian</label></div>
          <div class="radiobtn"><input id="rb3" type="radio" name="leader" value="Jill"/><label class="radiobtn" for="rb3">Jill</label></div>
          <div class="radiobtn"><input id="rb4" type="radio" name="leader" value="Terry"/><label class="radiobtn" for="rb4">Terry</label></div>
        </mat-radio-group>

        <div class="listSection">
          <div *ngFor="let set of songsets; let index = index" id="{{set.index}}" >
            <ul>
              <li>
                  <div class="d-flex align-items-center">
                    <div class="listselection-content" (click)="LoadSet(set)" >::: {{ set.SetDate }}</div>
                    <div class="listselection-delete align-center" (click)="checkDelete(set)">[X]</div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="namingSet" class="namingSet-container">
        <form>
          <div class="namingSet-Row">
            <div class="namingSet-1">
              <label for="songSetName" class="col-form-label namingSet bold">Set Name:</label>
            </div>
            <div class="namingSet-7">
              <input type="text" class="form-control namingSet" id="songSetName" placeholder="SetName" value="{{stringDate}}" (change)="NameChanged($event)">
            </div>
            <div class="namingSet-1">
              <button type="submit" class="btn btn-primary namingSet namingSet-10" (click)="checkExists(stringDate)">Save</button>
            </div>
            <div class="namingSet-1">
              <button type="submit" class="btn btn-secondary namingSet namingSet-10" (click)="clicktoSave()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    <div [sortablejs]="LocalRows" [sortablejsOptions]="{ animation: 150 }">
       <div class="setitem _{{rows.SR_PaceGrp}}" *ngFor="let rows of LocalRows; let index = index" id="{{rows.SR_Type}}" (contextmenu)="rightClick($event, index)">
         <div class="rowseq">{{rows.SR_Type}}</div>
         <div class="rowtitle clipped">{{ rows.SR_Title }} </div>
         <div class="rowfirstline clipped">{{ rows.SR_FirstLine }}</div>
         <div class="rowkey">{{rows.SR_MusicalKey}}</div>
         <div class="del-x" (click)="deleterow(index)">-</div>
       </div>
    </div>

    <div class="setitem emptyset" *ngIf="!setStarted">Set Not Started</div>

    <app-set-context-menu *ngIf="!isHidden" [x]="xPosTabMenu" [y]="yPosTabMenu" [menuitems]="showMenuOptions()" [index]="indexTabMenu" (menuItemSelected)="handleMenuSelection($event)"></app-set-context-menu>

    <div class="setFooter">
       <div class="status_content {{hasDuplicates}}">AM Songs {{amSongs}};  PM Songs {{pmSongs}};  Extras {{eXtras}};  Duplicates {{duplicates}}
    </div>
  </div>
</div>
