<div class="component">
  <div class="lyricsSection">
    <div class="form-group">
      <div *ngIf="hasData">
        <p class="title clipped">{{song.SongTitle}}</p>
        <p class="firstline clipped">{{song.FirstLine}}</p>
        <p class="lyrics">{{song.Lyrics}}</p>
      </div>
      <div *ngIf="!hasData">No Data</div>
    </div>
  </div>
  <div class="tableSection">
    <div class="filter sticky-top container-fluid">
      <div class="btn-group">
        <input id="searchinput" type="search" class="form-control" placeholder="Search" [(ngModel)]="searchString"
          (change)="ngOnInit()">
        <div id="searchclear" class="glyphicon glyphicon-remove-circle"></div>
      </div>
      <div class="btn-group d-inline-block" (change)="ngOnInit()">
        <select id="PaceGrp" [(ngModel)]="selectedGroup" class="d-inline-block form-control form-select drop-filter">
          <option value="0" selected>Standard</option>
          <option value="1">Fast</option>
          <option value="2">Medium</option>
          <option value="3">Slow</option>
          <option value="4">School</option>
          <option value="5">Christmas</option>
          <option value="6">All</option>
        </select>
      </div>
      <div class="btn-group d-inline-block" (change)="ngOnInit()">
        <select id="PaceGrp" [(ngModel)]="selectedAge" class="d-inline-block form-control form-select drop-filter">
          <option value="1" selected>Recent</option>
          <option value="2">2 years</option>
          <option value="3">3 years</option>
          <option value="10">All</option>
        </select>
      </div>
      <div class="btn-group d-inline-block" (change)="ngOnInit()">
        <select id="Rating" [(ngModel)]="selectedRating" class="d-inline-block form-control form-select drop-filter">
          <option value="4">Rating 5</option>
          <option value="3">Rating 4+</option>
          <option value="2" selected>Rating 3+</option>
          <option value="1">Rating 2+</option>
          <option value="0">All Songs</option>
        </select>
      </div>
      <div>
        <table>
          <tr>
            <td class="hdr_Ref sortable" (click)='changeSort("SongRef")'>Ref</td>
            <td class="hdr_Title sortable" (click)='changeSort("SongTitle")'>Title</td>
            <td class="hdr_FirstLine sortable" (click)='changeSort("FirstLine")'>First Line</td>
            <td class="hdr_Key sortable" (click)='changeSort("MusicalKey")'>Key</td>
            <td class="hdr_Key">Add</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <div *ngIf="isLoading" class="waiting">
        <div class="spinner-border" role="status">
          <div class="sr-only"></div>
        </div>
      </div>
      <div *ngIf="!isLoading">
        <table>
          <tr class="picker _{{song.PaceGrp}}" *ngFor="let song of songs; let index = index" id="song-{{index}}"
            (mouseup)="showLyrics(song, index)"
            (dblclick)="addtoSet(song)"
            [class.active]="index == ActiveIndex">
            <td class="col_Ref">{{song.SongRef}}</td>
            <td class="col_Title clipped">{{song.SongTitle}}</td>
            <td class="col_FirstLine clipped">{{song.FirstLine}}</td>
            <td class="col_key">{{song.MusicalKey}}</td>
            <td><img src="../../assets/Images/ToList.png" alt=" " width="14" height="14" (click)="addtoSet(song)"></td>
            <td #song style="display:none">{{song}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div></div>
  <div class="setSection" (click)="closeRightClickMenu()">

    <div class="setHeader sticky-top container-fluid d-inline-block">
      <div class="btn-group">
            <div class="setdatetitle btn-group">Set Date</div>
            <input class="form-control" placeholder="Date/Set Name" value="{{stringDate}}"
                   name="dp" [(ngModel)]="setDate" ngbDatepicker #dp="ngbDatepicker" (dateSelect)="onDateSelected()">
            <button class="btn calendar" (click)="dp.toggle()" type="button"><img width="28px" title="Pick Date" src="..\..\assets\Images\cal.png"/></button>
            <button class="btn" type="button"><img width="28px" title="Load Template" (click)="loadTemplate()" src="..\..\assets\Images\add_template.png"/></button>
            <button class="btn" type="button"><img width="28px" title="Clear Set" (click)="clearSet()" src="..\..\assets\Images\erase_document.png"/></button>
            <button class="btn" type="button"><img width="28px" title="Load Set" (click)="toggleSets()" src="..\..\assets\Images\load_document.png"/></button>
            <button class="btn" type="button"><img width="28px" title="Save Set" (click)="saveSet()"src="..\..\assets\Images\save_document.png"/></button>
            <button class="btn" type="button"><img width="28px" title="Export to Word" src="..\..\assets\Images\Export_document.png"/></button>
      </div>
    </div>

      <div *ngIf="chooseSet" class="getSetContainer">
        <mat-radio-group class="leadFilter" [(ngModel)]="selectedLead" (change)="LeaderChanged($event)">
          <div class="radiobtn"><input id="rb1" type="radio" name="leader" value="Mike" checked='true'/><label class="radiobtn" for="rb1">Mike</label></div>
          <div class="radiobtn"><input id="rb2" type="radio" name="leader" value="Ian"/><label class="radiobtn" for="rb2">Ian</label></div>
          <div class="radiobtn"><input id="rb3" type="radio" name="leader" value="Jill"/><label class="radiobtn" for="rb3">Jill</label></div>
          <div class="radiobtn"><input id="rb4" type="radio" name="leader" value="Terry"/><label class="radiobtn" for="rb4">Terry</label></div>
        </mat-radio-group>

        <div class="listSection">
          <div *ngFor="let set of sets; let index = index" id="{{set.index}}" >
            <ul>
              <li class="listSection" (click)="LoadSet(set)"><div class="listselection-content">::: {{ set.Leader }} - {{ set.SetDate }}<div class="del-x">-</div></div></li>
            </ul>
          </div>
        </div>
      </div>


    <div [sortablejs]="LocalRows" [sortablejsOptions]="{ animation: 150 }">
       <div class="setitem _{{rows.SRPaceGrp}}" *ngFor="let rows of LocalRows; let index = index" id="{{rows.SRType}}" (contextmenu)="rightClick($event, index)">
         <div class="rowseq">{{rows.SRType}}</div>
         <div class="rowtitle clipped">{{ rows.SRTitle }} </div>
         <div class="rowfirstline clipped">{{ rows.SRFirstLine }}</div>
         <div class="rowkey">{{rows.SRMusicalKey}}</div>
         <div class="del-x" (click)="deleterow(index)">-</div>
       </div>
    </div>


    <p *ngIf="!setStarted">Set Not Started</p>

    <app-set-context-menu *ngIf="!isHidden" [x]="xPosTabMenu" [y]="yPosTabMenu" [menuitems]="showMenuOptions()" [index]="indexTabMenu" (menuItemSelected)="handleMenuSelection($event)"></app-set-context-menu>

    <hr>

    <div class="sticky-bottom setFooter container-fluid">

    </div>
  </div>
</div>
