:host {
  display: block;
  float: left;
  background-color: paleturquoise;
  overflow: hidden;
  margin: auto;
  padding:0;

  height: calc(100vh - 3rem);
  width: calc(100vw - 60px);
}
.component {
  display:block;
  width:100%;
  overflow:hidden;
}
.tableSection {
  float:left;
  width: 650px;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
}

.lyricsSection {
  float:left;
  display:block;
  height: calc(100vh - 4rem);
  width:250px;
  background-color: lightyellow;
  color: darkred;
  font-size:12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding:2px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.filter {
  padding:0;
  display:block;
  height: 4rem;
  background-color: rgb(142, 172, 212);
  width:630px;
  float: left;
}

.waiting {
  z-index:999;
  text-align: center;

}

#searchinput {
  height: 28px;
  width: 100%;
  margin: 5px;
}
.drop-filter {
  height:28px;
  padding:0;
  font-size:small;
  margin-right:5px;
}

table {
  width: 630px;
  margin:0px;
  padding:1px;
  table-layout: fixed;
}
td {
  font-size:12px;
  padding-left:3px;
}
tr {
  border-bottom-color:black;
  border-bottom-style: solid;
  border-bottom-width:.5px;
}
tr.picker:hover {
  background-color: #ffff99;
  cursor: pointer;
}

tr.active {
  background-color:#3871aa !important;
  color: white;
}


.hdr_Ref {
  margin:0;
  background-color: darkslategrey;
  color:white;
  width:30px;
}
.col_Ref{
  font-size:small;
  width:30px;
}

.hdr_Title {
  margin:0;
  background-color: darkslategrey;
  color:white;
  width:250px;

}
.col_Title {
  min-width:250px;
  width:250px;
  max-width: 250px;
}


.hdr_FirstLine {
  margin:0;
  background-color: darkslategrey;
  color:white;
  width:260px;

}
.col_FirstLine
{
  min-width:260px;
  width:260px;
  max-width: 260px;
}

.hdr_Key {
  margin:0;
  background-color: darkslategrey;
  color:white;
  width:45px;
}

.col_Key
{
  width:45px;
}

.sortable:hover {
  text-decoration: underline overline;
  text-decoration-color: red;
  cursor: pointer;
}


.lyrics {
  white-space: pre-line;
}
.title {
  font-weight: bold;
}
.firstline {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin:0px;
  padding:0px;
}
.setSection {
  float:left;
  width: calc(100vw - 960px);
  height: calc(100vh - 3rem);
  background-color: lightsteelblue;
  font-size: 12px;
  padding:2px;
  margin:0;
  display:block;
}
.setHeader {
  height:3rem;
  background-color: lightgray;
  display:block;
}
ngx-sortable {
  width:100%;
}
.setList {
  width:100%;
  overflow-y: scroll;
}
.setSeq {
  font-size: 12px;
  width: 20px;
}
.SeqTitle {
  font-size: 12px;
  width: 10px;
  font-weight: strong;
}
.seqFirstLine {
  font-size: 12px;
  width: 10px;

}
.setKey {
  font-size: 12px;
  width: 40px;
}

.setitem {
  background-color: navajowhite;
  border-radius: 3px;
  border-style: solid;
  border-width: .5px;
  cursor: move;
  padding-left: 3px;
}

.setFooter {
  height:1rem;
  background-color: lightsteelblue;
  display:block;
}

.clipped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.setdatetitle {
  font-size:14px;
  font-weight: bold;
  vertical-align: middle;
  margin:auto;
  padding-right:10px;
}

.form-control {
  margin:auto;
  outline-width:0.5px;
  outline-style: solid;
  outline-color: lightslategray;
}

#splitter {
  height:10px;
  background-color: lightslategray;
}
#time {
  background-color: navy;
  color: white;
}
#Extra {
  font-style:italic;
  background-color: lightgray;
}
#Pre {
  background-color: cornflowerblue;
}
.setitem:hover {
  background-color:white;
}
.rowseq {
  display:inline-block;
  width:2%;
}
.rowtitle {
  display:inline-block;
  width:40%;
}
.rowfirstline {
  display:inline-block;
  width:40%;
}
.rowkey {
  display:inline-block;
  width:3%;
}
