:host {
  display: block;
  float: left;
  background-color: paleturquoise;
  border-style: dotted;
  border-radius: 2px;
  border-width: 1px;
  color: blue;
  width:40%;
  overflow: scroll;
  margin: auto;
  padding:0;
  height: calc(100vh - 3rem);
}
.component {
  display:block;
  width:100%;
}
.filter {
  padding:3px;
  display:block;
  height: 3rem;
  background-color: rgb(142, 172, 212);
}

#search {
  width: 50% !important;
}

.songRef {

  color: red;
  font-size:small;
  float:left;
}

.clipped {
  width:20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td, th {
  padding-left:5px;
  font-size:12px;
}
tr {
  border-bottom-color:black;
  border-bottom-style: solid;
  border-bottom-width:.5px;
}
tr:hover {
  background-color: #ffff99;
  cursor: pointer;
}
