.parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  margin:5px;
  width: 500px;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.logo {
  margin:10px;
  width:100px;
  margin:20px;
}
